#header{color: blue;
background-color: burlywood;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:3em;
padding-left: 1px;
padding-top: 1px;
padding-right: 1px;
padding-bottom: 1px;}
.title{color: white;
background-color: rgb(150, 9, 65);
text-align: center;
text-transform: capitalize;}
#indh{margin-left: 6cm;
margin-top: 2em;
margin-right: 1cm;
margin-bottom: 0em;;
border: 1px solid rgb(202, 43, 104);
  border-radius: 4px;
  padding: 9px;}
.maya{margin-left: 3cm;
border: 3px solid rgb(42, 3, 87);
border-radius: 25px;
padding: 16px;}
a{ color: blue;
display: inline-flexbox;
background-color: red;
background-position: 50%;
font-size: 21px;
width: 18px;
height: 18px;}
.paragraph{font-size: 25px;
color: lightgoldenrodyellow;
background-color: lightsalmon;
text-align: center;
padding: 8px 4px 8px 4px;
text-underline-position: above;
}
thead{color: red;
background-color: mediumaquamarine;
text-align: center;
font-size: 21px;}
tbody{color: white;
background-color: saddlebrown;
text-align: center;
font-size: 21px;}
.title2{color: orangered;
background-color: orchid;
text-align: left;
margin-left: 23px;
text-decoration: peru;
text-transform: capitalize;}
table{margin-left: 23px;}
form{color: white;
background-color: black;
font-size: 18px;
border: 2px solid brown;
margin-left: 3cm;
margin-right: 6cm;}
h3{text-align: center;
color: crimson;}
body{background-color: khaki;
  opacity: 0.6;
background-image: url(https://get.wallhere.com/photo/code-web-development-programmers-text-work-computer-technology-1152195.jpg);}
footer{color: blue;
  opacity: 2;
font-size: 22px;
font-family: 'Times New Roman', Times, serif;
text-align: center;}